ErrorDocument 404 /index.php?acao=carregarHome&modulo=Home

RewriteEngine on
	
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^/               	 	 	          /index.php [L]
RewriteRule login               	 	 	      /index.php?acao=login&modulo=Login
RewriteRule logoff               	 		      /index.php?acao=logoff&modulo=Login

RewriteRule ^home             	                  /index.php?acao=carregarHome&modulo=Home

RewriteRule ^sobre             	                  /index.php?&acao=visualizar&modulo=Sobre


RewriteRule ^servidores/cadastrar                 /index.php?acao=carregarCadastro&modulo=Servidores
RewriteRule ^cadastrar/servidor               	  /index.php?acao=cadastrar&modulo=Servidores
RewriteRule ^servidores/editar/(.*)               /index.php?acao=carregarEdicao&tipo=info&modulo=Servidores&id=$1
RewriteRule ^servidores/senha/                    /index.php?acao=carregarEdicao&tipo=senha&modulo=Servidores&id=$1
RewriteRule ^servidores/foto/                     /index.php?acao=carregarEdicao&tipo=foto&modulo=Servidores&id=$1
RewriteRule ^editar/servidor/(.*)/(.*)/(.*)       /index.php?acao=editar&modulo=Servidores&operacao=$1&id=$2&status=$3
RewriteRule ^excluir/servidor/(.*)                /index.php?acao=excluir&modulo=Servidores&id=$1
RewriteRule ^servidores/listar                    /index.php?acao=listar&modulo=Servidores

RewriteRule ^denuncias/cadastrar                  /index.php?acao=carregarCadastro&modulo=Denuncias
RewriteRule ^cadastrar/denuncia               	  /index.php?acao=cadastrar&modulo=Denuncias
RewriteRule ^denuncias/listar/0                   /index.php?acao=listar&modulo=Denuncias&filtro=0
RewriteRule ^denuncias/listar/1                   /index.php?acao=listar&modulo=Denuncias&filtro=1
RewriteRule ^denuncias/editar/(.*)                /index.php?acao=carregarEdicao&modulo=Denuncias&id=$1
RewriteRule ^denuncias/visualizar/(.*)            /index.php?acao=visualizar&modulo=Denuncias&id=$1
RewriteRule ^editar/denuncia/remover-anexo/(.*)/(.*)/(.*)/           /index.php?acao=editar&modulo=Denuncias&operacao=remover-anexo&id=$1&idAnexo=$2&nomeAnexo=$3
RewriteRule ^editar/denuncia/remover-palavra-chave/(.*)          /index.php?acao=editar&modulo=Denuncias&operacao=remover-palavra-chave&idPalavra=$1
RewriteRule ^editar/denuncia/(.*)/(.*)/           /index.php?acao=editar&modulo=Denuncias&operacao=$1&id=$2
RewriteRule ^denuncias/triagem/(.*)               /index.php?acao=carregarTriagem&modulo=Denuncias&id=$1
RewriteRule ^triagem/(.*)                         /index.php?acao=triagem&modulo=Denuncias&id=$1

RewriteRule ^denuncias/andamento/(.*)             /index.php?acao=carregarAndamento&modulo=Denuncias&id=$1
RewriteRule ^andamento/(.*)                       /index.php?acao=andamento&modulo=Denuncias&id=$1